{% extends "base.html" %}
<title> {{title}} </title>
{% block body %}
<div class="container container-fluid">
    <div class="container-fluid">

        {% if "weatheralerts" in dctnary.keys() %}
        <nav class="navbar" style="background-color: red">
            <div class='navbar-brand'><a href='{{dctnary["weatheralerts"][0]["uri"]}}'>{{ dctnary["weatheralerts"][0]["title"] }}</a></div>
        </nav>
        {% endif %}

        <div class="row">
            <!-- News column -->
            <ul class="nav nav-pils flex-column col-6 align-items-end" id="leftside">
                <h2>News</h2>
                {% for article in dctnary["newsarticles"] %}
                    <li style="padding-bottom: 20px">
                        <a href="{{ article[0] }}"> {{ article[1] }} </a>
                        <br>
                    </li>
                {% endfor %}
                <a href="https://newsapi.org/" id="attribution">Powered by News API</a>
            </ul>

            <div class="col-6 align-items-start" id="rightside">
                <h2>Current Location</h2>
                {{ dctnary["locationinfo"]["currcity"] }}, {{ dctnary["locationinfo"]["currreg"] }}, {{ dctnary["locationinfo"]["currcoun"] }}
                <br>
                Last updated: {{ dctnary["currtime"] }}
                <br><br>
                <img width="100%" src='{{ dctnary["nasaimg"] }}'>
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <!-- Holidays -->
            <div class="col-6 align-items-end" id="leftside" style="background-color: #F0B67F">
                <h2>Holidays</h2>
                <table style="float: right">
                    {% for h in dctnary["holidays"] %}
                        <tr>
                            <td style="padding-right: 20px">
                                {{ h["name"] }}
                            </td>
                            <td style="text-align: left">
                                {{ h["date"][:10] }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                        </td>
                        <td>
                            <br>
                            <a href="https://www.calendarindex.com/" id="attribution">CalendarIndex</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-6 align-items-start" style="padding-left: 30px" d="rightside">

                <div class="row" style="background-color: #20A4F3">
                    <h2>Weather</h2>
                    <ul>
                        <li>Current -- {{ dctnary["currentweather"] }} {{ dctnary["currenttemp"] }}°F</li>
                        <li>Weekly -- {{ dctnary["weekweather"] }}</li>
                        <br>
                        <li style="list-style-type: none;"><a href="https://darksky.net/poweredby/" id="attribution">Powered by Dark Sky</a></li>
                    </ul>
                </div>

                <div class="row" style="background-color: #20A4F3">
                    <h2>Sunrise & Sunset Times</h2>
                    <ul>
                        <li>Sunrise Today: {{ dctnary["srisetoday"] }}</li>
                        <li>Sunset Today: {{ dctnary["ssettoday"] }}</li>
                        <li>Sunrise Tomorrow: {{ dctnary["srisetmw"] }}</li>
                        <li>Sunset Tomorrow: {{ dctnary["ssettmw"] }}</li>
                        <br>
                        <li style="list-style-type: none;"><a href="https://sunrise-sunset.org/" id="attribution">Sunrise Sunset</a></li>
                    </ul>
                </div>

                <div class="row" style="background-color: #000022">
                    <h2 style="padding-right: 300px; color: #000000">Horoscope</h2>
                    <br>
                    <ul>
                        <li style="list-style-type: none;"><a href="/sunsign">Select a sun sign</a></li>
                    </ul>
                </div>

                <div class="row">
                    <h2>Poems</h2>
                    <ul>
                        <li style="list-style-type: none;"><h4>{{ dctnary["poem"]["title"] }}</h5></li>
                        <li style="list-style-type: none;"><h5>{{ dctnary["poem"]["poet"] }}</h5></li>
                        <li style="list-style-type: none;">{{ dctnary["poem"]["poem"] }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
