{% extends "base.html" %}

{% block body %}

<div class="container container-fluid">
	<form name="sunsign" action="/horoscope">
        <button name="sunsign" type="submit" class="btn" value="aries"><img src="https://images.ganeshaspeaks.com/images_gsv7/aries200.png"><br><h3>Aries</h3></button>
        <button name="sunsign" type="submit" class="btn" value="taurus"><img src="https://images.ganeshaspeaks.com/images_gsv7/taurus200.png"><br><h3>Taurus</h3></button>
        <button name="sunsign" type="submit" class="btn" value="gemini"><img src="https://images.ganeshaspeaks.com/images_gsv7/gemini200.png"><br><h3>Gemini</h3></button>
        <button name="sunsign" type="submit" class="btn" value="cancer"><img src="https://images.ganeshaspeaks.com/images_gsv7/cancer200.png"><br><h3>Cancer</h3></button>
        <button name="sunsign" type="submit" class="btn" value="leo"><img src="https://images.ganeshaspeaks.com/images_gsv7/leo200.png"><br><h3>Leo</h3></button>
        <button name="sunsign" type="submit" class="btn" value="virgo"><img src="https://images.ganeshaspeaks.com/images_gsv7/virgo200.png"><br><h3>Virgo</h3></button>
        <button name="sunsign" type="submit" class="btn" value="libra"><img src="https://images.ganeshaspeaks.com/images_gsv7/libra200.png"><br><h3>Libra</h3></button>
        <button name="sunsign" type="submit" class="btn" value="scorpio"><img src="https://images.ganeshaspeaks.com/images_gsv7/scorpio200.png"><br><h3>Scorpio</h3></button>
        <button name="sunsign" type="submit" class="btn" value="sagittarius"><img src="https://images.ganeshaspeaks.com/images_gsv7/sagittarius200.png"><br><h3>Sagittarius</h3></button>
        <button name="sunsign" type="submit" class="btn" value="capricorn"><img src="https://images.ganeshaspeaks.com/images_gsv7/capricorn200.png"><br><h3>Capricorn</h3></button>
        <button name="sunsign" type="submit" class="btn" value="aquarius"><img src="https://images.ganeshaspeaks.com/images_gsv7/aquarius200.png"><br><h3>Aquarius</h3></button>
        <button name="sunsign" type="submit" class="btn" value="pisces"><img src="https://images.ganeshaspeaks.com/images_gsv7/pisces200.png"><br><h3>Pisces</h3></button>
    </form>
</div>

{% endblock %}
